@use "../base/variables" as vars;

.category {
  margin-bottom: 4rem;
}

.category--backdrop {
  display: grid;
  place-items: center;

  background-color: vars.$temporary-image;
  color: vars.$color-primary;

  height: 35rem;

  font-size: vars.$font--home-header-sm;
  font-weight: 600;
}

.category--filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4rem 2rem;
}

.category--filters > p,
.category--filters > select {
  font-size: 1.2rem;
}

.category--filters > select {
  width: 15rem;

  padding: 1rem 2rem;
}

.category--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 0.5rem;

  padding: 0 2rem;
}
