@use "../base/variables" as vars;

.home-slider-item {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.home-slider-item--img {
  background-color: vars.$temporary-image;

  height: 35rem;
}

.home-slider-item--img-text {
  display: none;
}

.home-slider-item > div:nth-child(2) {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: vars.$color-gray-layout;

  padding: 4.5rem 2rem;
}

.home-slider-item--header {
  color: vars.$color-primary;

  font-size: vars.$font-heading-sm-1;
  font-weight: 600;
  text-align: center;
  line-height: 40px;

  margin-bottom: 1rem;
}

.home-slider-item--tag {
  color: vars.$color-primary;

  font-size: vars.$font-subheading-sm-1;

  margin-bottom: 2rem;
}

.home-slider-item--link {
  background-color: vars.$color-primary;
  color: vars.$color-white;

  font-size: vars.$font-regular-sm-2;

  padding: 1rem 2rem;
}

@media (min-width: 769px) {
  .home-slider-item--img {
    display: grid;
    place-items: center;

    height: 60rem;
  }

  .home-slider-item--img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-slider-item > div:nth-child(2) {
    display: none;
  }
}
