@use "../base/variables" as vars;

.home--hero {
  margin-bottom: 10rem;
}

.home--hero > div:nth-child(1) {
  background-color: vars.$color-gray-layout-text; // FIXME: Temporary, add picture

  height: 50rem;
}

.home--hero > div:nth-child(2) {
  background-color: vars.$color-gray-layout;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4.5rem 2rem;
}

.home--hero-header,
.home--hero-tag {
  color: vars.$color-primary;

  text-align: center;
}

.home--hero-header {
  font-size: vars.$font-heading-sm-1;
  font-weight: 600;
  line-height: 40px;

  margin-bottom: 1rem;
}

.home--hero-tag {
  font-size: vars.$font-subheading-sm-1;

  margin-bottom: 2rem;
}

.home--hero a {
  background-color: vars.$color-primary;
  color: vars.$color-white;

  width: 26rem;

  font-size: vars.$font-regular-sm-2;
  text-align: center;

  padding: 1rem 2rem;
}

.home--showcase {
  padding: 0 2rem;
  margin-bottom: 10rem;
}

.home--showcase-category > header {
  font-size: vars.$font-subheading-sm-1;

  margin-bottom: 2rem;
}

.home--showcase-category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.home--showcase-category-item img {
  width: 100%;
  height: auto;
}

.home--showcase-category-item-name {
  font-size: vars.$font-regular-sm-2;
}

.home--showcase-category-item-price {
  font-size: vars.$font-regular-sm-2;
}

.home--team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: vars.$color-primary;

  height: 40rem;

  padding: 0 2rem;
}

.home--team-header,
.home--team-tag,
.home--team-email {
  text-align: center;
}

.home--team-header {
  color: vars.$color-white;

  font-size: vars.$font-subheading-sm-2;
  font-weight: 500;
}

.home--team-tag,
.home--team-email {
  color: vars.$color-gray-2;

  font-size: vars.$font-regular-sm-2;
}

.home--team-email span {
  text-decoration: underline;
}
