@use "../base/variables" as vars;

.item-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-card > img {
  width: 100%;
  height: auto;
}

.item-card--information a {
  color: vars.$color-primary;

  font-size: 1.5rem;
  font-weight: 500;
}

.item-card--information p {
  font-size: 1.4rem;
}

.item-card--information a:hover {
  text-decoration: underline;
}

.item-card--category-size {
  width: 100%;
}

.item-card--sizes select,
.item-card--sizes button {
  font-size: 1.4rem;
}

.item-card--sizes select {
  width: 100%;

  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

.item-card--sizes button {
  width: 100%;

  padding: 1rem 2rem;
  border: 1px solid vars.$color-primary;

  transition: background-color 0.3s, color 0.3s;
}

.item-card--sizes button:hover {
  background-color: vars.$color-primary;
  color: vars.$color-white;
}

@media (min-width: 769px) {
}
