@use "../base/variables" as vars;

.layout-nav-sidebar--icon {
  display: grid;
  place-items: center;

  width: 2.6rem;
}

.layout-nav-sidebar--icon svg {
  stroke: vars.$color-primary;
}

.layout-nav-sidebar--overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: vars.$color-overlay;

  height: 100vh;
}

.layout-nav-sidebar--overlay.active {
  right: 0;
  bottom: 0;
}

.layout-nav-sidebar--window {
  background-color: vars.$color-white;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;

  position: fixed;
  right: -100%;

  height: 100vh;
  width: 28rem;

  padding: 2rem;
}

.layout-nav-sidebar--window.active {
  right: 0;
}

.layout-nav-sidebar--window-back-btn {
  display: grid;
  place-items: center;

  margin-bottom: 2rem;
}

.layout-nav-sidebar--window-back-btn svg {
  stroke: vars.$color-primary;

  width: 2.6rem;
}

.layout-nav-sidebar--window a {
  color: vars.$color-primary;

  font-size: 1.5rem;
}

.layout-nav-sidebar--window a.active {
  font-weight: 600;
}

.layout-nav-sidebar--window a:hover {
  text-decoration: underline;
}

.layout-nav-sidebar--window-footer {
  align-self: center;

  display: flex;
  align-items: center;
  gap: 3rem;

  margin-top: auto;
}

.layout-nav-sidebar--window-footer a {
  display: grid;
  place-items: center;
}

.layout-nav-sidebar--window-footer a svg {
  color: vars.$color-primary;

  width: 2.4rem;
  height: 2.4rem;
}

@media (min-width: 426px) {
  .layout-nav-sidebar--window {
    padding: 2rem 2.5rem;
  }
}

@media (min-width: 769px) {
  .layout-nav-sidebar {
    display: none;
  }
}
