@use "../base/variables" as vars;

.layout-nav {
  background-color: vars.$color-white;

  position: sticky;
  top: 0;
  z-index: 99;

  display: grid;
  place-items: center;

  height: 8rem;

  padding: 0 2rem;
  border-bottom: 1px solid vars.$color-gray-layout;
}

.layout-nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 110rem;
}

.layout-nav--logo {
  color: vars.$color-primary;

  font-family: "Rubik Glitch", system-ui;
  font-size: 2.5rem;
}

.layout-nav--links,
.layout-nav--btns {
  display: none;
}

@media (min-width: 426px) {
  .layout-nav {
    padding: 0 4rem;
  }
}

@media (min-width: 769px) {
  .layout-nav > div > div:first-child {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .layout-nav--links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .layout-nav--links a {
    display: grid;
    place-items: center;

    color: vars.$color-primary;

    font-size: 1.5rem;
  }

  .layout-nav--links a:hover {
    text-decoration: underline;
  }

  .layout-nav--links a.active {
    font-weight: 600;
  }

  .layout-nav--btns {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .layout-nav--btns svg {
    color: vars.$color-primary;

    font-size: 2.3rem;
  }
}
