@use "../base/variables" as vars;

.layout {
  height: 100vh;

  overflow: hidden scroll;
}

.layout--announcement {
  display: grid;
  place-items: center;

  background-color: vars.$color-primary;
  color: vars.$color-white;

  height: 5rem;

  font-size: vars.$font--footer-sm;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;

  padding: 0 2rem;
}

.layout--subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 40rem;

  background-color: vars.$color-gray-layout;

  padding: 0 2rem;
}

.layout--subscribe-header,
.layout--subscribe-tag {
  max-width: 150rem;
}

.layout--subscribe-header {
  color: vars.$color-primary;

  font-size: vars.$font--home-subheading-sm;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}

.layout--subscribe-tag {
  color: vars.$color-gray-layout-text;

  font-size: vars.$font--home-subheading-subtext-sm;
  text-align: center;

  margin-bottom: 1rem;
}

.layout--subscribe input,
.layout--subscribe button {
  height: 3.3rem;

  font-size: vars.$font--home-subheading-btn-sm;

  padding: 0 2rem;
}

.layout--subscribe input {
  width: 20rem;

  border: 1px solid vars.$color-primary;
}

.layout--subscribe button {
  background-color: vars.$color-primary;
  color: vars.$color-white;
}

.layout--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  background-color: vars.$color-primary;

  height: 9rem;

  padding: 0 2rem;
}

.layout--footer a {
  display: grid;
  place-items: center;
}

.layout--footer a svg {
  color: vars.$color-white;

  width: 2.4rem;
  height: 2.4rem;
}

@media (min-width: 426px) {
  .layout--announcement,
  .layout--subscribe,
  .layout--footer {
    padding: 0 4rem;
  }

  .layout--subscribe input {
    width: unset;
  }
}

@media (min-width: 769px) {
  .layout--announcement {
    font-size: vars.$font--footer-lg;
  }

  .layout--subscribe-header {
    font-size: vars.$font--home-subheading-lg;
    line-height: 50px;
  }

  .layout--subscribe-tag {
    font-size: vars.$font--home-subheading-subtext-lg;
  }

  .layout--subscribe input,
  .layout--subscribe button {
    height: 4rem;

    font-size: vars.$font--home-subheading-btn-lg;
  }

  .layout--subscribe input {
    width: 35rem;
  }

  .layout--footer a svg {
    width: 2.6rem;
    height: 2.6rem;
  }
}
