@use "../base/variables" as vars;

.category {
  margin-bottom: 4rem;
}

.category--backdrop {
  display: grid;
  place-items: center;

  background-size: cover;
  background-position: center;

  color: vars.$color-white;

  height: 50rem;

  font-size: 3rem;
  font-weight: 600;
}

.category > div:last-child {
  padding: 0 2rem;
}

.category > div:last-child > div {
  max-width: 110rem;
  margin: 0 auto;
}

.category--filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4rem 0;
}

.category--filters > p,
.category--filters > select {
  font-size: 1.1rem;
}

.category--filters > select {
  width: 15rem;

  padding: 1rem 2rem;
}

.category--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 0.5rem;
}

@media (min-width: 426px) {
  .category > div:last-child {
    padding: 0 4rem;
  }
}

@media (min-width: 769px) {
  .category--items {
    grid-template-columns: repeat(4, 1fr);
  }
}
