@use "../base/variables" as vars;

.home--hero {
  margin-bottom: 10rem;
}

.home--hero > div:nth-child(1) {
  background-position: center;
  background-size: cover;

  height: 35rem;
}

.home--hero > div:nth-child(1) > div {
  display: none;
}

.home--hero > div:nth-child(2) {
  background-color: vars.$color-gray-layout;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4.5rem 2rem;
}

.home--hero-header,
.home--hero-tag {
  color: vars.$color-primary;

  text-align: center;
}

.home--hero-header {
  font-size: 3rem;
  font-weight: 600;
  line-height: 40px;

  margin-bottom: 1rem;
}

.home--hero-tag {
  max-width: 110rem;

  font-size: 1.8rem;

  margin-bottom: 2rem;
}

.home--hero a {
  background-color: vars.$color-primary;
  color: vars.$color-white;

  font-size: 1.6rem;
  text-align: center;

  padding: 1rem 2rem;
}

.home--team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: vars.$color-primary;

  height: 40rem;

  padding: 0 2rem;
  margin-bottom: 10rem;
}

.home--team-header,
.home--team-tag,
.home--team-email {
  max-width: 110rem;

  text-align: center;
}

.home--team-header {
  color: vars.$color-white;

  font-size: 2.4rem;
  font-weight: 500;
}

.home--team-tag,
.home--team-email {
  color: vars.$color-primary-layout-text;

  font-size: vars.$font--home-subheading-subtext-sm;
}

.home--team-email span {
  text-decoration: underline;
}

.home--categories {
  display: grid;
  place-items: center;

  padding: 0 2rem;
  margin-bottom: 10rem;
}

.home--categories > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem 0.5rem;

  max-width: 110rem;
}

.home--categories-item-img-container {
  display: inline-grid;
  overflow: hidden;
}

.home--categories-item-img-container > img {
  width: 100%;
  height: auto;

  transition: transform 0.3s;
}

.home--categories-item:hover .home--categories-item-img-container > img {
  transform: scale(1.2);
}

.home--categories-item > p {
  color: vars.$color-primary;

  font-size: vars.$font--home-subheading-subtext-sm;
}

.home--sponsors {
  display: grid;
  place-items: center;

  padding: 0 2rem;
  margin-bottom: 10rem;
}

.home--sponsors > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  width: 100%;

  max-width: 110rem;
}

.home--sponsors > div svg {
  color: vars.$color-primary;

  font-size: 3.5rem;
}

@media (min-width: 426px) {
  .home--hero > div:nth-child(1),
  .home--hero > div:nth-child(2) {
    padding: 4.5rem 4rem;
  }

  .home--team,
  .home--categories,
  .home--sponsors {
    padding: 0 4rem;
  }
}

@media (min-width: 769px) {
  .home--hero > div:nth-child(1) {
    display: grid;
    place-items: center;

    height: 75rem;
  }

  .home--hero > div:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home--hero-header,
  .home--hero-tag {
    color: vars.$color-white;
  }

  .home--hero > div:nth-child(2) {
    display: none;
  }

  .home--categories > div {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: unset;
  }

  .home--sponsors > div {
    gap: 8rem;
  }
}
