@use "../base/variables" as vars;

.item {
  padding: 4rem 2rem;
}

.item > div {
  max-width: 110rem;
  margin: 0 auto;
}

.item--imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  margin-bottom: 4rem;
}

.item--imgs-img-container {
  display: inline-grid;
  overflow: hidden;
}

.item--imgs img {
  width: 100%;
  height: auto;

  transition: transform 0.3s;
}

.item--imgs img:hover {
  transform: scale(1.2);
}

.item--details-name {
  color: vars.$color-primary;

  font-size: vars.$font--item-name;
  font-weight: 500;
  line-height: 1;

  margin-bottom: 0.8rem;
}

.item--details-price {
  color: vars.$color-primary;

  font-size: vars.$font--item-price;
  margin-bottom: 0.6rem;
}

.item--details-description {
  color: vars.$color-primary-light;

  font-size: vars.$font--item-description;

  margin-bottom: 1.6rem;
}

.item form {
  display: flex;
  gap: 1rem;

  margin-bottom: 4rem;
}

.item form > select,
.item form > button {
  color: vars.$color-primary;

  border: 1px solid vars.$color-primary;
}

.item form > select {
  flex-shrink: 0;

  background-color: vars.$color-white;

  font-size: vars.$font--item-btn-text;

  width: 7rem;
}

.item form > button {
  width: 100%;

  font-size: vars.$font--item-btn-text;

  padding: 1rem 2rem;

  transition: background-color 0.3s, color 0.3s;
}

.item form > button:hover {
  background-color: vars.$color-primary;
  color: vars.$color-white;
}

@media (min-width: 426px) {
  .item {
    padding: 4rem 4rem;
  }
}

@media (min-width: 769px) {
  .item > div {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
  }

  .item--details {
    flex-shrink: 1.5;
  }
}
