// ==============================================
// Colors
// ==============================================

$temporary-image: rgb(87, 87, 87);

$color-primary: #123026;
$color-primary-light: #123026bf;
$color-primary-light-border: #1230267a;

$color-primary-layout-text: rgb(187, 187, 187);
$color-gray-layout: rgba(235, 235, 235, 0.75);
$color-gray-layout-text: #575757;

$color-gray-attribute-border: rgb(223, 223, 223);

$color-overlay: rgba(0, 0, 0, 0.5);
$color-background: #070f2b;
$color-black: #222;
$color-white: #f5f5f5;

// ==============================================
// Font sizes
// ==============================================

$font--layout-announcement-text: 1.2rem;
$font--layout-nav-link: 1.5rem;
$font--layout-subscribe-header: 2.4rem;
$font--layout-subscribe-tag: 1.6rem;
$font--layout-subscribe-btn-text: 1.4rem;

$font--home-hero-header: 3rem;
$font--home-hero-tag: 1.8rem;
$font--home-hero-link: 1.6rem;
$font--home-showcase-category-header: 1.8rem;
$font--home-team-header: 2.4rem;
$font--home-team-subtext: 1.6rem;
$font--home-categories-item-text: 1.6rem;
$font--home-slider-item-header: $font--home-hero-header;
$font--home-slider-item-tag: $font--home-hero-tag;
$font--home-slider-item-link: $font--home-hero-link;

$font--category-backdrop-text: $font--home-hero-header;
$font--category-filter-text: 1.1rem;

$font--item-card-name: 1.5rem;
$font--item-card-price: 1.4rem;
$font--item-card-btn-text: 1.3rem;

$font--item-name: 2.4rem;
$font--item-price: 1.6rem;
$font--item-description: 1.5rem;
$font--item-btn-text: 1.3rem;
$font--item-attribute-header: 1.5rem;
$font--item-attribute-description: $font--item-attribute-header;

$font--cart-header: 2.4rem;
$font--cart-subheaders: 1.1rem;
$font--cart-subtotal: 1.5rem;
$font--cart-checkout-text: 1.5rem;
$font--cart-item-name: 1.5rem;
$font--cart-item-price: 1.4rem;
$font--cart-item-size: 1.4rem;
$font--cart-item-total: 1.5rem;
